html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {margin:0; padding:0; border:0; outline:0; color:var(--black-font); font-family:'Pretendard'; font-size:12px; line-height:1.4; vertical-align:baseline;}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block;}
body {min-width:320px; word-break:break-all; -webkit-text-size-adjust:none;}
ol,
ul,
li {list-style:none;}
blockquote,
q {quotes:none;}
blockquote:before,
blockquote:after,
q:before,
q:after {content: ''; content:none;}
table {border-collapse:collapse; border-spacing:0;}
img {vertical-align:top;}
input[type=radio],
input[type=checkbox] {margin-top:-1px; vertical-align:top;}
input[type=text],
input[type=email],
input[type=password] {vertical-align:top;}
a,
a:hover,
a:active,
a:focus {text-decoration:none;}
*,
*:before,
*:after {-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}
input[type=text], input[type=password], input[type=submit], input[type=button], input[type=search], input[type=tel], input[type=number], input[type=email], textarea {border-radius:0; -webkit-appearance:none;}
input, select, textarea, button, a, label {-webkit-tap-highlight-color:rgba(0,0,0,0);}

/* font */
@font-face {
    font-family: 'Pretendard';
    font-weight: 300;
    src:url('../public/font/Pretendard-Light.woff');
    src:local(※),
    url('../public/font/Pretendard-Light.woff') format('woff');
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    src: url('../public/font/Pretendard-Regular.woff');
    src: local(※),
        url('../public/font/Pretendard-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 600;
  src: url('../public/font/Pretendard-Bold.woff');
  src: local(※),
    url('../public/font/Pretendard-Bold.woff') format('woff');
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 700;
    src: url('../public/font/Pretendard-Bold.woff');
    src: local(※),
        url('../public/font/Pretendard-Bold.woff') format('woff');
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 900;
    src: url('../public/font/Pretendard-Black.woff');
    src: local(※),
        url('../public/font/Pretendard-Black.woff') format('woff');
}

:root {
  --black-font:#000;
  --gray-font:#888;
  --gray2-font:#555;
  --white:#fff;
}

input[type=checkbox] {margin:0; width:14px; height:14px; border:1px solid #ddd; border-radius:2px; appearance:none;}
input[type=checkbox]:checked {background-color:var(--black-font); background-image:url('../public/img/checkbox.svg'); background-repeat:no-repeat; background-position:center; background-size:100%; border-color:var(--black-font);}

/* wrap_inner */
.wrap_inner {padding:0 3.33%;}

/* header */
header {width:100%; height:50px;}
header .gnb {display:flex; justify-content:space-between; align-items:center; width:100%; height:inherit; padding:0 12px; border-bottom:1px solid #000;}
header .gnb > h1 > a {color:var(--black-font); font-size:1.666rem; font-weight:600; letter-spacing:-0.1px; line-height:20px;}
header .gnb .gnb_menu {display:flex; justify-content:center; align-items:center; column-gap:20px;}
header .gnb .gnb_menu > li.gnb_cart > a {display:block; width:19px; height:19px; background:url('../public/img/cart.svg') no-repeat center/19px auto; text-indent: -9999px;}
header .gnb .gnb_menu > li > span {display:block; width:19px; height:19px;  text-indent: -9999px;}
header .gnb .gnb_menu > li.gnb_srch span {background: url('../public/img/search.svg') no-repeat center/18px auto;}
header .gnb .gnb_menu > li.gnb_menu span {background: url('../public/img/menu.svg') no-repeat center/16px auto; cursor:pointer;}
/* nav */
nav.lnb {visibility:hidden; position:fixed; top:0; left:-100%; z-index:100; width:100%; height:100%; background:#fff; transition:all .3s ease;}
nav.lnb.visible {visibility:visible; left:0;}
nav.lnb .top_section {display:flex; justify-content:space-between; align-items:center; width:100%; height:50px; padding:0 12px;}
nav.lnb .top_section > h1 > a {color:var(--black-font); font-size:1.666rem; font-weight:600; letter-spacing:-0.1px; line-height:20px;}
nav.lnb .top_section .close {display:block; width:19px; height:19px; text-indent: -9999px; background: url('../public/img/close.svg') no-repeat center/19px auto; cursor:pointer;}
nav.lnb .menu_section {margin-top:17px; padding:0 6%;}
nav.lnb .menu_section > li,
nav.lnb .menu_section li.more_link {margin-bottom:14px;}
nav.lnb .menu_section li.more_link {cursor:pointer;}
nav.lnb .menu_section > li > a {padding-left:10px;}
nav.lnb .menu_section > li > a,
nav.lnb .menu_section li.more_link {color:var(--black-font); font-size:1.083rem; font-weight:400; letter-spacing:-0.65px; line-height:13px;}
nav.lnb .menu_section .sml_menu {padding:20px 0 0 10px;}
nav.lnb .menu_section .sml_menu > li:not(:last-of-type) {padding-bottom:10px;}
nav.lnb .menu_section .sml_menu > li > a {color:var(--gray2-font); font-size:1rem; font-weight:400; letter-spacing:-0.6px;}

nav.lnb .my_menu {padding:56px 6% 0;}
nav.lnb .my_menu > li {margin-bottom:14px; padding-left:10px;}
nav.lnb .my_menu > li > a {color:var(--black-font); font-size:1.083rem; font-weight:400; letter-spacing:-0.65px;}

nav.lnb .login_menu {display:flex; justify-content:flex-end; align-items:center; column-gap:20px; padding:79px 32px 0 0;}
nav.lnb .login_menu > li > a {color:var(--black-font); font-size:1.083rem; font-weight:400; letter-spacing:-0.65px;}

/* footer */
footer {padding-bottom:50px;}
footer .ft_txt_slide { height:31px; border:1px solid var(--black-font); border-width:1px 0; }
footer .swiper-wrapper {transition-timing-function:linear;}
footer .ft_txt_slide .swiper-slide {width:auto;}
footer .ft_txt_slide .txt_slide {position:relative; padding:0 20px; color:var(--gray-font); font-size:1rem; font-weight:400; line-height:31px; letter-spacing:-0.6px; }
footer .ft_txt_slide .txt_slide:after {display:block; position:absolute; top:50%; right:0; width:2px; height:2px; margin-top:-1px; background:var(--gray-font); border-radius:50%; content:'';}
footer .cs_info {padding:30px 0 20px; border-bottom:1px solid var(--black-font);}
footer .cs_info h3 {padding-bottom:4px; font-size:1rem; font-weight:400; line-height:12px; letter-spacing:-0.6px;}
footer .cs_info > p {color:var(--gray2-font); font-size:1rem; font-weight:400; line-height:12px; letter-spacing:-0.6px;}
footer .cs_info .cs_time {padding-bottom:4px;}
footer .copyright {padding:30px 0 0;}
footer .copyright .copyright_text {padding-bottom:4px;}
footer .copyright .github a {padding-left:20px; background:url('../public/img/ft_github.png') no-repeat center left/auto 14px;}

/* prdbox */
.prd_box {position:relative;}
.prd_box .img img {width:100%; height:auto;}
.prd_box .info {padding:18px 12px 0;}
.prd_box .info .prd_name {display:flex; justify-content:flex-start; align-items:center;}
.prd_box .info .prd_name > * {color:#555; font-size:1.083rem; font-weight:400; letter-spacing:-0.39px;}
.prd_box .info .price {display:flex; justify-content:flex-start; align-items:center; }
.prd_box .info .price > p {padding-right:5px;}
.prd_box .info .price .del {text-decoration-line:line-through; text-decoration-color:#555;}
.prd_box .info .status {padding-top:8px; color:#000; font-size:0.833rem; font-weight:700; letter-spacing:-0.5px;}
.prd_box .info .wish {display:block; position:absolute; top:10px; right:10px; width:19px; height:19px; background:url('../public/img/wish_off.svg') no-repeat center/19px auto; text-indent:-9999px; cursor:pointer; transition: all .5s ease;}
.prd_box .info .wish.on {background-image:url('../public/img/wish_on.svg');}

/* main */
#main .bnr_img img {width:100%; height:auto;}
#main .main_topTxt {padding:50px 0 20px;}
#main .main_topTxt p {font-size:1.833rem; font-weight:600; line-height:28px; letter-spacing:-1.1px; text-decoration-line:underline;}
/* main visual */
#main .main_visual .swiper-pagination {display:flex; justify-content:center; align-items:center; left:auto; right:12px; bottom:12px; width:64px; height:18px; background:var(--white); border-radius:10px; font-size:1rem; line-height:18px; letter-spacing:3px;}
#main .main_visual .swiper-pagination > span {display:block; width:10px; margin:0 1px; font-size:1rem; line-height:18px; letter-spacing:3px;}
#main .main_visual .swiper-button-next,
#main .main_visual .swiper-button-prev {display:block; z-index:20; top:auto; bottom:13px; width:20px; height:18px; margin:0; }
#main .main_visual .swiper-button-next:after,
#main .main_visual .swiper-button-prev:after {display:none;}
#main .main_visual .swiper-button-next {right:12px; background:url('../public/img/main_next.svg') no-repeat center/auto 7px;}
#main .main_visual .swiper-button-prev {left:auto; right:60px; background: url('../public/img/main_prev.svg') no-repeat center/auto 7px;}

#main .txt_slide { height:31px; border:1px solid var(--black-font); border-width:1px 0; }
#main .txt_slide .swiper-wrapper {transition-timing-function:linear;}
#main .txt_slide .swiper-slide {width:auto;}
#main .txt_slide .txt_slideBox {position:relative; padding:0 20px; color:var(--gray-font); font-size:1rem; font-weight:400; line-height:31px; letter-spacing:-0.6px; text-transform: uppercase;}
#main .txt_slide .txt_slideBox:after {display:block; position:absolute; top:50%; right:0; width:2px; height:2px; margin-top:-1px; background:var(--gray-font); border-radius:50%; content:'';}
/* main new */
#main .main_new {margin-bottom:50px;}
#main .main_new .new_txt > h3 {padding:30px 0 6px; font-size:1.333rem; font-weight:700; letter-spacing:-0.48px; line-height:16px; }
#main .main_new .new_txt > .sub_eng {padding:0 0 20px; font-size:1rem; font-weight:400; letter-spacing:-0.39px; line-height:12px; text-transform:uppercase; text-decoration-line:underline;}
#main .main_new .new_txt > .sub_kor {padding:0 0 40px; color:#555; font-size:1.083rem; font-weight:400; letter-spacing:-0.39px; }
#main .main_new .new_prdList {display:flex; justify-content:space-between;}
#main .main_new .new_slide {padding-bottom:20px;}
#main .main_new .swiper-wrapper {height:auto;}
#main .main_new .new_prdList .prd_box {position:relative;}
#main .main_new .new_prdList .prd_box .img img {width:100%; height:auto;}
#main .main_new .new_prdList .prd_box .info {padding:18px 12px 0;}
#main .main_new .new_prdList .prd_box .info .prd_name {display:flex; justify-content:flex-start; align-items:center;}
#main .main_new .new_prdList .prd_box .info .prd_name > * {color:#555; font-size:1.083rem; font-weight:400; letter-spacing:-0.39px;}
#main .main_new .new_prdList .prd_box .info .price {display:flex; justify-content:flex-start; align-items:center;}
#main .main_new .new_prdList .prd_box .info .price > p {padding-right:5px;}
#main .main_new .new_prdList .prd_box .info .price .del {text-decoration-line:line-through; text-decoration-color:#555;}
#main .main_new .new_prdList .prd_box .info .status {padding-top:8px; color:#000; font-size:0.833rem; font-weight:700; letter-spacing:-0.5px;}
#main .main_new .new_prdList .prd_box .info .wish {display:block; position:absolute; top:10px; right:10px; width:19px; height:19px; background:url('../public/img/wish_off.svg') no-repeat center/19px auto; text-indent:-9999px; cursor:pointer; transition: all .5s ease;}
#main .main_new .new_prdList .prd_box .info .wish.on {background-image:url('../public/img/wish_on.svg');}
#main .main_new .swiper-pagination {position:static; width:93.4%; height:1px; margin:19px auto 0; background:#eee;}
#main .main_new .swiper-pagination-progressbar-fill {background-color:#000;}
/* mid bnr */
#main .mid_bnr .swiper-pagination {display:flex; justify-content:center; align-items:center; left:auto; right:12px; bottom:19%; width:64px; height:18px; background:var(--white); border-radius:10px; font-size:1rem; line-height:18px; letter-spacing:3px;}
#main .mid_bnr .swiper-pagination > span {display:block; width:10px; margin:0 1px; font-size:1rem; line-height:18px; letter-spacing:3px;}
#main .mid_bnr .swiper-button-next,
#main .mid_bnr .swiper-button-prev {display:block; z-index:20; top:auto; bottom:19%; width:20px; height:18px; margin:0; }
#main .mid_bnr .swiper-button-next:after,
#main .mid_bnr .swiper-button-prev:after {display:none;}
#main .mid_bnr .swiper-button-next {right:12px; background:url('../public/img/main_next.svg') no-repeat center/auto 7px;}
#main .mid_bnr .swiper-button-prev {left:auto; right:60px; background: url('../public/img/main_prev.svg') no-repeat center/auto 7px;}
#main .mid_bnr .txt {padding:20px 3.3% 50px;}
#main .mid_bnr .txt > h3 {padding-bottom:6px; font-size:1.333rem; letter-spacing:-0.48px;}
#main .mid_bnr .txt > p {color:var(--gray2-font); font-size:1.083rem; font-weight:500; letter-spacing:-0.39px;}
/* main md */
#main .main_md {margin-bottom:34px;}
#main .main_md .md_prdList {display:flex; justify-content:space-between;}
#main .main_md .swiper-wrapper {height:auto;}
#main .main_md .md_prdList .prd_box {position:relative;}
#main .main_md .md_prdList .prd_box .img img {width:100%; height:auto;}
#main .main_md .md_prdList .prd_box .info {padding:18px 12px 0;}
#main .main_md .md_prdList .prd_box .info .prd_name {display:flex; justify-content:flex-start; align-items:center;}
#main .main_md .md_prdList .prd_box .info .prd_name > * {color:#555; font-size:1.083rem; font-weight:400; letter-spacing:-0.39px;}
#main .main_md .md_prdList .prd_box .info .price {display:flex; justify-content:flex-start; align-items:center; }
#main .main_md .md_prdList .prd_box .info .price > p {padding-right:5px;}
#main .main_md .md_prdList .prd_box .info .price .del {text-decoration-line:line-through; text-decoration-color:#555;}
#main .main_md .md_prdList .prd_box .info .status {padding-top:8px; color:#000; font-size:0.833rem; font-weight:700; letter-spacing:-0.5px;}
#main .main_md .md_prdList .prd_box .info .wish {display:block; position:absolute; top:10px; right:10px; width:19px; height:19px; background:url('../public/img/wish_off.svg') no-repeat center/19px auto; text-indent:-9999px; cursor:pointer; transition: all .5s ease;}
#main .main_md .md_prdList .prd_box .info .wish.on {background-image:url('../public/img/wish_on.svg');}
#main .main_md .swiper-pagination {position:static; width:93.4%; height:1px; margin:19px auto 0; background:#eee;}
#main .main_md .swiper-pagination-progressbar-fill {background-color:#000;}
#main .main_md .new_slide {padding-bottom:20px;}
/* md banner */
#main .main_md_txt {padding-bottom:50px;}
#main .main_md_txt .md_txt {margin-bottom:40px; padding:0 3.3%;}
#main .main_md_txt .md_txt > h3 {padding:30px 0 6px; font-size:1.333rem; font-weight:700; letter-spacing:-0.48px;}
#main .main_md_txt .md_txt .sub_eng {font-weight:400; letter-spacing:-0.36px; text-decoration-line:underline; text-transform:uppercase;}
#main .main_md_txt .md_txt .sub_kor {padding-top:20px; color:var(--gray2-font); font-weight:400; letter-spacing:-0.39px; word-break:keep-all;}
#main .main_md_txt .swiper-slide img {width:100%; height:auto;}

/* shop list */
#shopList .list_slide {margin-left:1.6%; padding:17px 0 25px;}
#shopList .list_slide .img img {width:100%; height:auto;}
#shopList .list_slide .txt {padding-top:10px; font-size:1.083rem; font-weight:600; text-align:center;}

#shopList .list_inner {padding:0 1.6%;}
#shopList .list_inner .list_filter {display:flex; justify-content:space-between; align-items:center; padding:20px 0 12px; border-top: 1px solid #eee;}
#shopList .list_inner .list_filter * {color:var(--gray-font); font-size:1.08rem; font-weight:400; letter-spacing:-0.65px; line-height:13px;}
#shopList .list_inner .list_filter .field {padding-right:13px; background:url('../public/img/filter_icon.svg') no-repeat center right/8px auto; cursor:pointer;}
#shopList .list_inner .list_filter > select {border:none; background: url('../public/img/down_icon.svg') no-repeat center right/8px auto; appearance:none; outline:none;}
#shopList .list_inner .prd_list {display:grid; grid-template-columns:repeat(2, 1fr); align-items:start; column-gap:4px; row-gap:30px;}
#shopList .list_inner .prd_list .prd_box .info {padding:14px 0 0;}

#shopList .pagination_section {margin:30px 0 80px; padding-top:20px; border-top:1px solid #ddd;}
#shopList .pagination_section .pagination {display:flex; justify-content:center; align-items:center; column-gap:34px;}
#shopList .pagination_section .pagination > li > span {color:var(--gray-font); font-size:1rem; font-weight:400; letter-spacing:-0.6px; cursor:pointer;}
#shopList .pagination_section .pagination > li.active > span {color:var(--black-font);}

#shopList .pagination_section .pagination > li.first_page span,
#shopList .pagination_section .pagination > li.last_page span {display:block; width:49px; height:25px; background:#000; text-indent:-9999px;}
#shopList .pagination_section .pagination > li.first_page span {mask:url('../public/img/prev.svg') no-repeat center/100% auto;}
#shopList .pagination_section .pagination > li.last_page span {mask:url('../public/img/next.svg') no-repeat center/100% auto;}
#shopList .pagination_section .pagination > li.disabled > span {background-color:var(--gray-font);}

/* filter_pop */
.filter_pop {visibility:hidden; position:fixed; top:0; left:-100%; width:100%; height:100%; background:var(--white); z-index:100; transition: all .3s ease;}
.filter_pop.visible {visibility:visible; left:0;}

.filter_pop .top_section {display:flex; justify-content:space-between; align-items:center; width:100%; height:55px; padding:0 4px 0 12px; border-bottom:1px solid var(--black-font);}
.filter_pop .top_section .filter_title {display:flex; align-items:center; column-gap:5px; padding-right:13px; color:var(--black-font); font-size:1.333rem; font-weight:400; letter-spacing:-0.8px; line-height:16px;}
.filter_pop .top_section .filter_title > span {display:block; width:8px; height:16px; mask:url('../public/img/filter_icon.svg') no-repeat center right/8px auto; background-color:var(--black-font);}
.filter_pop .top_section .close {display:block; width:19px; height:19px; text-indent: -9999px; background: url('../public/img/close.svg') no-repeat center/19px auto; cursor:pointer;}

.filter_pop .sort_section > .field {display:flex; flex-direction:column; padding:0 12px 20px; border-bottom:1px solid #ddd;}
.filter_pop .sort_section > .field:first-of-type {padding-top:10px;}
.filter_pop .sort_section > .field > h3 {padding:20px 0 15px; font-size:1.167rem; font-weight:700; letter-spacing:-0.7px;}
.filter_pop .sort_section > .field > label {display:flex; align-items:center; column-gap:15px; margin-bottom:10px; font-size:1rem; font-weight:400; letter-spacing:-0.6px;}
.filter_pop .btn_color {margin-top:20px; border-top:1px solid #ddd;}
.filter_pop .btn_color > .field {display:grid; grid-template-columns:repeat(2, 1fr); align-items:start; column-gap:10px; padding:15px 12px 0;}
.filter_pop .btn_color > .field .btn {display:flex; justify-content:center; align-items:center; text-align:center; width:100%; height:44px; border-radius:3px; font-size:1.333rem; font-weight:400; letter-spacing:-0.48px;}
.filter_pop .btn_color > .field .white_btn {background:#f8f8f8; color:#999;}
.filter_pop .btn_color > .field .black_btn {background:var(--black-font); color:var(--white);}

.filter_pop .btn_color .color_list {display:grid; grid-template-columns:repeat(3,1fr); padding:24px 12px 0;}
.filter_pop .btn_color .color_list .unit {display:flex; align-items:center; justify-content:start; column-gap:12px; margin-bottom:11px; cursor:pointer;}
.filter_pop .btn_color .color_list .unit > span {display:block; width:14px; height:14px; border-radius:50%;}